{
    "plugins": [
        "prettier-plugin-multiline-arrays"
    ],
    "multilineArraysWrapThreshold": 1,
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "bracketSameLine": true,
    "bracketSpacing": false,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": [
                "**/*.yml",
                "**/*.yaml"
            ],
            "options": {
                "parser": "yaml",
                "tabWidth": 2
            }
        },
        {
            "files": [
                "*.json"
            ],
            "options": {
                "parser": "json",
                "useTabs": true,
                "bracketSameLine": false
            }
        }
    ]
}